/*  */
@media(max-width: 1024px){
    /* Signup Page */
    

}
@media(max-width: 768px){
    /* Signup Page */
    .signup-page .signup-section-wrapper{
        width: 90%;
        height: 75vh;
    }
    .signup-section-wrapper-inner{
      display: flex;
      align-items: center;
      height: 0;
    }
    .signup-page .signup-section-wrapper .banner-section{
        width: 0%;
        visibility: hidden;
    }
    .signup-page .signup-section-wrapper .form-section{
        width: 100%;
    }
    .signup-page .signup-section-wrapper .form-section .signup-form .input-col-6{
        gap: 15px;
        flex-direction: column;
    }
   
    

}
@media(max-width: 550px){

}
@media(max-width: 360px){

}