@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
/* Variables */

:root {
    --primaryColor: #3498DB;
    --bodyColor: #FFF;
    --grayColor: #F8F9F9;
    --borderColor: #E5E8E8;
    --textColor: #8a8e91;
    --headingColor: #17202A;
    --primaryFont: 'Roboto';
    --headerBottomGradient: linear-gradient(to right, #212F3C, #2874A6);
    --commonGradient: linear-gradient(to top, #2874A6, #3498DB);
    --commonGradientOpacity: linear-gradient(to left, rgba(40, 116, 166, 0.7), rgba(93, 173, 226, 0.9))
}

/*  Globall */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--bodyColor);
    font-family: var(--primaryFont);
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

p {
    color: var(--textColor);
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--headingColor);
}

.bar-icon,
.bar-close-icon {
    display: none;
    font-size: 20px;
    padding: 9px;
    background-color: var(--borderColor);
    cursor: pointer;
    border-radius: 50%;
}

.common-banner {
    background-image: var(--headerBottomGradient);
    height: 35px;
    width: 100%;
}

.input-col-6 {
    display: flex;
    align-items: center;
    gap: 10px;
}

section {
    padding: 50px 0px;
}

.section-heading {
    font-size: 24px;
    font-weight: 600;
}

.section-subheading {
    color: var(--headingColor);
    font-size: 14px;
    font-weight: 500;
}

input[type=text],
input[type=password],
input[type=email] {
    outline: none;
    border: 1px solid var(--borderColor);
    background-color: var(--grayColor);
    border-radius: 20px;
    padding: 5px 15px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
}

.filter-close-icon,
.filter-icon {
    display: none;
}

.primary-btn {
    border: none;
    outline: none;
    background: var(--primaryColor);
    color: white;
    padding: 8px 24px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;

}

.primary-btn-lg {
    border: none;
    outline: none;
    background: var(--primaryColor);
    color: white;
    padding: 8px 70px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
}

.readmore-link {
    font-size: 12px;
    color: var(--primaryColor);
    font-weight: 500;
    padding: 5px 0px;
}

/* Home Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.logo {
    width: 100px;
    height: 50px;

}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav ul li a {
    padding: 8px 16px;
    margin: 0px 3px;
    color: var(--headingColor);
    font-size: 13px;
    font-weight: 500;
}

header nav ul li a:hover {
    color: var(--primaryColor);
}

header nav ul li.has-dropdown {
    position: relative;
}

header nav ul li a.for-divider {
    border-left: 2px solid var(--borderColor);
}

.dropdown-menus {
    display: none;
    position: absolute;
    top: 30px;
    width: 350px;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--borderColor);
    z-index: 999;
    background-color: var(--bodyColor);
}

.dropdown-menus li a {
    display: block;
    color: var(--headingColor);
    font-size: 10px;
    font-weight: 500;
}

header nav ul li.has-dropdown:hover .dropdown-menus {
    display: block;
}

/* Banner Section */


.banner {
    background-image: url('../images/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    position: relative;
}

.banner-inner {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    background-image: var(--commonGradientOpacity);
}

.banner-inner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.banner-inner-content h3 {
    color: var(--bodyColor);
    font-weight: 600;
    font-size: 36px;
}

.banner-inner-content p {
    color: var(--bodyColor);
}

.banner-inner-content .search-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    position: relative;
}

.banner-inner-content .search-form input[type=search] {
    width: 80%;
    padding: 12px 26px;
    font-size: 16px;
    border: none;
    outline: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.banner-inner-content .search-form .search-btn {
    background: black;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 36px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.banner-inner-content .search-form .suggest {
    display: none;
    position: absolute;
    top: 55px;
    width: 96%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--borderColor);
    z-index: 999;
    background-color: var(--bodyColor);
}

.suggest li a {
    display: block;
    color: var(--headingColor);
    font-size: 10px;
    font-weight: 500;
    padding: 8px 16px;
}

.suggest li a:hover {
    color: var(--primaryColor);
}

.popular-services {
    margin-top: -50px;
}

.popular-services h6 {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--bodyColor);

}

.popular-services .services-slider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.popular-services .services-slider .service-slider-item {
    border-radius: 10px;
    background: var(--bodyColor);
    padding: 12px 36px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid var(--borderColor);
    text-align: center;
    margin: 0px 5px;
}

.popular-services .services-slider .service-slider-item a {
    color: var(--headingColor);
}

.popular-services .services-slider .service-slider-item:hover a {
    color: var(--primaryColor);
}

.slick-prev {
    /* background: var(--headingColor); */
    position: absolute;
    left: -4px;
    top: 0x;
    z-index: 99;
    border-radius: 50%;
    padding: 0px;
    border: 0px;
}

.slick-next {
    /* background: var(--headingColor); */
    position: absolute;
    right: -4px;
    top: 0x;
    z-index: 99;
    border-radius: 50%;
    padding: 0px;
    border: 0px;
}

.slick-prev:before,
.slick-next:before {
    color: var(--headingColor) !important;
    opacity: 1 !important;
}


/* About section */
.about-section {
    margin-top: 40px;
}

.about-section ul {
    margin: 20px 0px;
}

.about-section ul li {
    display: block;
    margin: 7px 0px;
    font-size: 13px;
    font-weight: 500;
}

.about-section ul li i {
    color: var(--primaryColor);
    font-size: 12px;
}


/* SEO News */
.news-item .title {
    font-size: 16px;
    text-align: justify;
    font-weight: 500;
    margin: 5px 0px;
}

.news-item .content-excerpt {
    font-size: 12px;
    font-weight: 400;
    color: var(--headingColor);
    text-align: justify;
    margin: 3px 0px;
}

/* Agency Section */

.agency-card {
    background-color: var(--grayColor);
    border-radius: 10px;
    padding: 30px 20px;
    margin: 0px 10px;
}

.agency-logo-section {
    width: 18%;
    margin: 0 auto;
    margin-bottom: 8px;
}

.agency-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
}

.agency-name {
    font-size: 18px;
    font-weight: 600;
    color: var(--headingColor);
    margin: 0px;
}

.agency-type {
    color: var(--headingColor);
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px;
}

.agency-rating {
    width: 90%;
    margin: 5px auto;
    text-align: center;
}

.agency-rating li {
    display: inline-block;
}

.agency-rating li i.fa-star {
    color: #F1C40F;
}

.aminity {
    color: var(--headingColor);
    font-size: 12px;
    font-weight: 500;
    margin: 0px;
}

.price {
    color: var(--headingColor);
    font-size: 15px;
    font-weight: 600;
    margin: 0px;
}


/* CTA */
.cta-content {
    background-image: var(--commonGradient);
    padding: 20px;
    border-radius: 5px;
}

.cta-content-inner {
    padding: 50px;
}

.cta-content-inner h5,
.cta-content-inner h3,
.cta-content-inner p {
    color: var(--bodyColor);
}

.cta-content-inner h5 {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px
}

.cta-content-inner h3 {
    font-size: 28px;
}

.cta-content-inner p {
    font-size: 13px;
    font-weight: 300;
}

/* Footer */
footer {
    background-color: var(--grayColor);
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer-top-section {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--borderColor);
}

.widget-title {
    color: var(--headingColor);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.widget-menu li a {
    color: var(--textColor);
    font-size: 12px;
    display: block;
    margin: 3px 0px;
}

.widget-menu li a:hover {
    color: var(--primaryColor);
}

.footer-bottom-section {
    padding: 15px 0px;
}

.copyright-text {
    color: var(--textColor);
    font-size: 12px;
    margin: 0px;
}

.footer-bottom-section-menu a {
    font-size: 12px;
    border-right: 1px solid var(--borderColor);
    padding: 0px 10px;
    color: var(--textColor);
}

.footer-bottom-section-menu a:last-child {
    border-right: none;
}


/* Agency Page */


.agency-banner-inner-info {
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--borderColor);
}

.agency-banner-inner-info h3 {
    margin: 0px;
}

.agency-banner-inner-info p {
    margin: 5px 0px;
    font-size: 12px;
    color: var(--headingColor);
}

.agencies-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.company-count p {
    font-size: 12px;
    font-weight: 500;
    color: var(--headingColor);
    margin: 0px;
}

.sort-label {
    font-size: 12px;
}

.sort-select-input {
    font-size: 12px;
    border-radius: 9px;
    padding: 3px 10px;
    font-weight: 500;
    background-color: transparent;
}

.agency-wrapper {
    padding-bottom: 40px;
}

.left-side-widgets {
    border: 1px solid var(--borderColor);
    border-radius: 5px;
}

.left-side-widgets-title {
    font-weight: 500;
    font-size: 16px;
    padding: 15px;
}

.left-widget {
    border-bottom: 1px solid var(--borderColor);
    padding: 15px;
}

.left-widget:last-child {
    border-bottom: none;
}

.left-widget-title {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.left-widget a {
    font-size: 11px;
    margin: 5px 0px;
    display: block;
    color: var(--headingColor);
    font-weight: 500;
}

.left-widget a:hover {
    color: var(--primaryColor);
}

.left-widget label {
    font-size: 11px;
    font-weight: 500;
}

.location-list {
    background-color: var(--grayColor);
}

.location-list-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.location-list-item {
    font-size: 12px;
    color: var(--headingColor);
    font-weight: 500;
    display: block;
    margin: 5px 0px;
}

.location-list-item:hover {
    color: var(--primaryColor);
}

.agency-directory-faq {
    background-color: var(--bodyColor);
}

.agency-directory-faq-content {
    width: 50%;
    margin: 0 auto;
}

.accordion-header .accordion-button {
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
}

.accordion-body {
    font-size: 12px !important;
}
.filter-section{
    display: none;
}

/* Sign Up Page */

.signup-page {
    background-color: var(--grayColor);
    position: relative;
    height: 100vh;
}

.signup-page .signup-section-wrapper {
    background: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 60%;
}


.signup-page .signup-section-wrapper .signup-section-wrapper-inner {
    display: flex;
    align-items: center;
    height: 100%;
}

.signup-page .signup-section-wrapper .form-section {
    width: 50%;
    height: 100%;
    padding: 10px;
}

.form-section .form-content {
    display: flex;
    align-items: center;
    height: 100%;

}

.form-content-inner {
    min-width: 100%;

}

.form-section .tab-bar {
    border-bottom: 2px solid var(--borderColor);
}

.form-section .tab-bar .tablinks {
    border: none;
    outline: none;
    font-weight: 800;
    color: var(--headingColor);
    padding: 5px 20px;
    background-color: transparent;
}

.form-section .tab-bar .tablinks.active {
    border-bottom: 2px solid var(--primaryColor);
    color: var(--primaryColor);
}

.form-section .tab-content-wrapper {
    margin-top: 20px;
    min-height: 250px;

}

.form-section .tab-content-wrapper .position-forgot-link {
    position: relative;
}

.form-section .tab-content-wrapper .forgot-link {
    position: absolute;
    bottom: 17px;
    right: 0px;
    display: block;
    width: 110px;
    font-size: 13px;
    text-decoration: underline;
    color: var(--primaryColor);
}

.form-section .terms-check {
    display: flex;
    align-items: center;
    font-size: 13px;
    display: block;
    margin-bottom: 12px;
}

.signup-page .signup-section-wrapper .banner-section {
    width: 50%;
    background-image: url('../images/signup.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    position: relative;

}

.banner-section-inner-content {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(52, 152, 219, 0.7);
}

.banner-section-inner-content #banner-title {

    color: var(--bodyColor);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.signup-page .signup-section-wrapper .form-section .signup-page-tabcontent {
    display: none;
}



/* Profile Page */
.profile-form label {
    font-size: 13px;
    color: var(--textColor);
}

.profile-photo-form {
    width: 35%;
    margin: 0 auto;
}

.profile-image-section {
    text-align: center;
    position: relative;
    border: 1px solid var(--borderColor);
    height: 143px;
    width: 150px;
    border-radius: 50%;
}

.profile-logo {
    height: 140px;
    width: 140px;
    object-fit: contain;

}

.profile-image-section span {
    border: 1px solid var(--borderColor);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--bodyColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image-section span i {
    color: var(--bodyColor);
    background-color: var(--primaryColor);
    padding: 9px;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
}

.input-img {
    display: none;
}

.img-label {
    margin-bottom: none;
}


/* FAQ */
.hired-option-item{
    background-color: var(--grayColor);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}


/* Pricing  Page */
.pricing-above-card {
    padding: 25px;
    border-radius: 5px;
    margin: 20px 0px;
    border: 1px solid var(--borderColor);
}
.pricing-above-card-content {
    display: flex;
    align-items: center;
    gap: 10px;
}
.pricing-above-card-content img {
    width: 100px;
    height: 80px;
}
.pricing-above-card-content h3{
    font-size: 16px;
}
.pricing-main-card{
    margin: 40px 0px;
}
.pricing-main-card h3{
    font-size: 22px;
}
.pricing-main-card .plans-info{
    text-align: justify;
    font-size: 12px;
    font-size: 600;
    color: var(--headingColor);
}
.pricing-main-card .plan-price {
    font-size: 22px;
    font-weight: 600;
    color: var(--headingColor);
}
.pricing-main-card .plan-duration{
    font-size: 16px;
    font-weight: 400;
    color: var(--headingColor);
}

.plans-feature{
    border-top: 1px solid var(--borderColor);
    padding: 40px 0px;
}